          <br/><br/><br/><br/><br/><br/><br/><br/>
          </td>
        </tr>
        <tr>
          <td class="bluebg1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/corner3.gif" width="6" height="7" /></td>
              <td></td>
              <td align="right"><img src="images/corner4.gif" width="6" height="7" /></td>
            </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
{assign var="last_dir" value="/"|explode:$smarty.server.REQUEST_URI}
{assign var="last_key" value=$last_dir|count}
{assign var="last_dir" value=$last_dir[$last_key-1]}
<script type="text/javascript">
    $(document).ready(function(){
        {if $last_dir == 'grnEntry.php'}
        {else}
            $("input").attr("autocomplete", "off");
        {/if}
    });
</script>