<select name="masterMeterSubId_2" id="masterMeterSubId_2" required="" >
	 <option value="">Select Parameter</option>
  {html_options values=$masterMeterSubIdArray output=$masterMeterSubParaArray selected=$selectedPara}  
</select>
