<select name="masterMeterSubId" id="masterMeterSubId" required="" onchange="getDateByPara();">
	 <option value="">Select Parameter</option>
  {html_options values=$masterMeterSubIdArray output=$masterMeterSubParaArray selected=$selectedPara}  
</select>
