<select name="masterMeterSubId_3" id="masterMeterSubId_3" required="" >
	 <option value="">Select Parameter</option>
  {html_options values=$masterMeterSubIdArray output=$masterMeterSubParaArray selected=$selectedPara}  
</select>
