<input type="hidden" name="masterMeterIdArray" id="masterMeterIdArray"  value="{$masterMeterIdArray}">
<input type="hidden" name="masterMeterAccuracyRangeArray" id="masterMeterAccuracyRangeArray" value="{$masterMeterAccuracyRangeArray}">
<input type="hidden" name="masterMeterAccuracyArray" id="masterMeterAccuracyArray" value="{$masterMeterAccuracyArray}">
<input type="hidden" name="masterMeterAccuracyFSArray" id="masterMeterAccuracyFSArray" value="{$masterMeterAccuracyFSArray}">
<input type="hidden" name="masterMeterUncertintyArray" id="masterMeterUncertintyArray" value="{$masterMeterUncertintyArray}">
<input type="hidden" name="masterMeterResolutionArray" id="masterMeterResolutionArray" value="{$masterMeterResolutionArray}">
<input type="hidden" name="masterMeterStabilityArray" id="masterMeterStabilityArray" value="{$masterMeterStabilityArray}">
	