<select name="masterMeterSubSubId_3" id="masterMeterSubSubId_3">
	 <option value="0">Select Range</option>
         {foreach from=$option_arr key=k item=det}
            <option value="{$det.id}" data-range="{$det.range}"> {$det.value}</option>
        {/foreach}
</select>
<input type="hidden" name="masterMeterSubSubParaArray" id="masterMeterSubSubParaArray" >
