{include file="./headStart.tpl"}
<title>User Rights Log</title>
<script type="text/javascript">
</script>
<script type="text/javascript">
</script>
{include file="./headEnd.tpl"}
<BODY onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
<center class="center"><h2>User Rights Log</h2></center><br>
<table border='0' cellpadding='1' cellspacing='1' align='center'>

<tr>
  <td class="table1" align="center">Log Type</td>
  <td class="table1" align="center">Staff Name</td>
  <td class="table1" align="center">Module</td>
  <td class="table1" align="center">Role Type</td>
  <td class="table1" align="center">Created At</td>
  <td class="table1" align="center">Created By</td>
</tr>

 {section name="sec" loop=$grnCount}
<tr>
	<td class="table2" align="center">{$grnArray[sec].change_type}</td>
	<td class="table2" align="center">{$grnArray[sec].user_name}</td>
	<td class="table2" align="center">{$grnArray[sec].title}</td>
	<td class="table2" align="center">{$grnArray[sec].role_name}</td>
	<td class="table2" align="center">{$grnArray[sec].created_at}</td>
	<td class="table2" align="center">{$grnArray[sec].staffName}</td>
</tr>
{sectionelse}
<tr><td align="center" colspan="22"> <h1><font color="red"><b>Record Not Found...!</b></h1></font></td></tr>
{/section}
</table>
{include file="footer.tpl"}